// CatalogFilters  
section.catalog__filters
  .container
    nav.catalog__filters--header
      ul
        li.active
          a(aria-controls="tab1" data-toggle="tab") 
            svg: use(xlink:href="#car-icon")
            span Легковые
        li
          a(aria-controls="tab2" data-toggle="tab") 
            svg: use(xlink:href="#bus-icon")
            span Коммерческие
        li
          a(aria-controls="tab3" data-toggle="tab") 
            svg: use(xlink:href="#truck-icon")
            span Грузовые
    .tab-content
      #tab1.tab-pane.fade.in.active
        form.catalog__filters--form
          .row
            .col.sm-9
              .catalog__filters--form__row
                .col
                  label Ширина
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Высота
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Радиус
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Сезонность
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Ось
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Бренд
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
            .col.sm-3.catalog__filters--form__controls
              button(type="reset").btn.btn__reset
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 357 357')
                  path(d='M357 35.7L321.3 0 178.5 142.8 35.7 0 0 35.7l142.8 142.8L0 321.3 35.7 357l142.8-142.8L321.3 357l35.7-35.7-142.8-142.8')
                span очистить
              button(type="submit").btn.btn__accent Поиск
      #tab2.tab-pane.fade
        form.catalog__filters--form
          .row
            .col.sm-9
              .catalog__filters--form__row
                .col
                  label Ширина
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Высота
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Радиус
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Сезонность
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Ось
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Бренд
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
            .col.sm-3.catalog__filters--form__controls
              button(type="reset").btn.btn__reset
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 357 357')
                  path(d='M357 35.7L321.3 0 178.5 142.8 35.7 0 0 35.7l142.8 142.8L0 321.3 35.7 357l142.8-142.8L321.3 357l35.7-35.7-142.8-142.8')
                span очистить
              button(type="submit").btn.btn__accent Поиск
      #tab3.tab-pane.fade
        form.catalog__filters--form
          .row
            .col.sm-9
              .catalog__filters--form__row
                .col
                  label Ширина
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Высота
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Радиус
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Сезонность
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Ось
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
                .col
                  label Бренд
                  select
                    option Все
                    - for (var i=1; i<=20; i++)
                      option= 'option ' + i
            .col.sm-3.catalog__filters--form__controls
              button(type="reset").btn.btn__reset
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 357 357')
                  path(d='M357 35.7L321.3 0 178.5 142.8 35.7 0 0 35.7l142.8 142.8L0 321.3 35.7 357l142.8-142.8L321.3 357l35.7-35.7-142.8-142.8')
                span очистить
              button(type="submit").btn.btn__accent Поиск




// End CatalogFilters 
